/*Tag*/
P{
    font-size:20px ;
    color: darkblue;
    font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Orbitron', sans-serif;
 }
 header{
     background-color: darkgrey;
     height: 150px;
     padding: 10px;
     
 }
 footer{
    clear: both;
    background-color: darkslategrey;
    height: 30px;
    text-align: center;
    padding: 10px;
}
/*IDS*/
 #div_esquerda{
     background-color: dimgray;
     min-height: 300px;
     width: 30%;
     float: left;
 }
 #logo{
     float: left;
 }
 #menu{
     float: right;
     margin-top: 30px;
 }
 #menu a{
     text-decoration: none;
     color: black;
     padding: 15px;

 }
 #menu a:hover{
     background-color: black;
     color: darkgrey;
 }

 #div_direita{
     background-color: gray;
     min-height: 300px;
     width: 70%;
     float: right;
 }
 /*class*/
 .container{
width: 960px;
margin:0 auto;
 }
